@{
    ViewData["Title"] = "Home Page";
}
@section ContentHeader
    {

}
<div class="content">
    <div class="content">
        <div class="container-fluid">
           
        </div>
    </div>
</div>