<footer class="footer">
    <div class="container-fluid">
        <nav class="float-left">
            <ul>
                <li>
                    <a href="#">
                        Home
                    </a>
                </li>
            </ul>
        </nav>
        <p class="copyright float-right">
            &copy;
            <script>document.write(new Date().getFullYear())</script>

        </p>
    </div>
</footer>